<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Reports Server</title>
    <!-- Monaco Editor -->
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/editor/editor.main.min.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <th:block th:replace="~{fragments/index-sidebar :: sidebar}"></th:block>
    <th:block th:replace="~{fragments/index-content :: content}"></th:block>
    <th:block th:replace="~{fragments/index-modals :: modals}"></th:block>

    <script src="/js/index-core.js"></script>
    <script src="/js/index-query-tester.js"></script>
    <script src="/js/index-builder.js"></script>
    <script src="/js/index-schedules.js"></script>
    <script src="/js/index-visual-legacy.js"></script>
    <script src="/js/index-image-manager.js"></script>
    <script src="/js/index-template-manager.js"></script>
    <script src="/js/index-page-settings.js"></script>
    <script src="/js/index-query-editor.js"></script>

    <th:block th:replace="~{fragments/index-system-ui :: systemUi}"></th:block>

    <!-- Monaco Editor Loader -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.min.js"></script>
    
    <!-- NEW Clean Visual Builder -->
    <script src="/js/visual-builder-clean.js"></script>
</body>
</html>
